<div class="card">
    <div class="card-body">
        <h2>Acerca de nosotros</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus neque maiores corporis provident veritatis, eius laudantium repellendus qui non soluta. Fugiat, animi cum! Maxime sint, at esse in explicabo aut eveniet nam rem commodi omnis facilis quasi eum aperiam illo assumenda excepturi rerum reprehenderit mollitia quos optio vel aliquam. Mollitia deleniti vel debitis delectus reiciendis? Minus, sapiente doloremque! Autem, obcaecati.</p>
    </div>
</div>