<div class="jumbotron">
    <h2 class="display-4">Sitema de gestion de tareas</h2>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis eius vel delectus quos, id aperiam, illum, ea est sit porro cum nobis. Debitis ab at excepturi, perferendis ad culpa. Repellat!</p>
    <a href=""></a>
</div>