<div class="row">
    <div class="col-md-4 mx-auto mt-4">
        <div class="card">
            <div class="card-header">
                <h4>Registra tu cuenta</h4>
            </div>
            <div class="card-body">
                <form action="/users/registrar-users" method="POST">
                    <div class="form-group">
                        <input type="text" name="nombre" value="{{nombre}}" placeholder="Ingrese su nombre" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" value="{{email}}" placeholder="Ingrese su correo" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" value="{{password}}" placeholder="contraseña" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password2" value="{{password2}}" placeholder="Confirmar contraseña" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>